ul,
li {
  list-style: none;
}
:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --white: #fff;
}

a {
  text-decoration: none;
}

.accent {
  color: var(--orange);
}

body {
  font-family: "montserrat", sans-serif;
}

.header {
}

.header-navigation {
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--black);
}

.header-logo-italic {
  font-style: italic;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--orange);
}

/* ------HERO--------- */
.hero {
  background-color: var(--violet);
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white);
}

.hero {
}

.hero-title {
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
}

.hero-anchor-btn {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--white);
}
/* -----------FEATURES--------- */
.features {
  background-color: var(--violet);
}

.features-list {
}

.features-item {
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}

.features-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ---------------TASTE--------- */

.taste {
}
.accent {
}
.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.taste-item {
}

.taste-img {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.2em;
  text-transform: uppercase;
  color: var(--black);
}
/* ---------- MADE ---- */

.made {
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.made-img {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black);
}

.made-item {
}

.made-item-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--black);
}
/* ---------REVIEW--------- */

.review {
}
.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.accent {
}
.review-list {
}
.review-item {
}
.review-img {
}
.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--black);
}

.review-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}

/* -----FOOTER---------- */
.footer {
  background-color: var(--violet);
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--white);
}

.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white);
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--white);
}

.footer-contacts {
  font-style: normal;
}
.footer-contacts-list {
}
.footer-contacts-item {
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
}
ghjcnj ntcn!!!