ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --white: #fff;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.accent {
  color: var(--orange);
}

body {
  font-family: 'montserrat', sans-serif;
  background-color: #fafafa;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
}

/* -----------HEADER--------------------------------- */
.header {
  padding-top: 28px;
  padding-bottom: 28px;
  /* width: 1136px; */
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto; /* центруємо навігацію */
  padding: 0 32px;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-left: 32px;
}

.header-logo-icon {
  flex-shrink: 0;
  transform: rotate(-25deg);
  fill: transparent;
  stroke: #fd9222;
}

.header-social-list {
  display: flex;
  gap: 18px;
  align-items: 90px;
  margin-right: 32px;
}

.header-logo-italic {
  font-style: italic;
}
.header-menu-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
}


.header-contacts-icon {
  fill: transparent;
  stroke: #111111;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
  text-align: center;
}

.header-contacts-icon:hover,
.header-contacts-icon:focus,
.header-contacts-icon:active {
  stroke: var(--orange);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: var(--orange);
}

/* ------HERO--------- */

.hero {
  background-color: var(--violet);
  border-radius: 30px;
  background-image:
    linear-gradient(rgba(30, 24, 35, 0.4), transparent),
    url('../Img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  margin: 0 auto 72px auto; /* центрування + відступ знизу */
  text-align: center;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 32px;
  margin-left: 32px;
  max-width: 484px;
}

.hero-controls {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-wrapper {
  padding: 380px 40px 40px 40px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 14px 40px;
  box-sizing: border-box;
  width: 146px;
  height: 46px;
  background-color: var(--orange);
  transition:
    background-color 0.3s 100ms cubic-bezier(0.16, 1.08, 0, 1.41),
    color 0.3s 100ms cubic-bezier(0.16, 1.08, 0, 1.41);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: var(--orange);
}

.hero-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-anchor-btn {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 14px 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-left: auto;
  
}

/* -----------FEATURES--------- */
.features {
  background-color: var(--violet);
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 32px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.features-item {
  width: calc((100% - 64px) / 3);
  max-width: 357px;
}

.features-content {

}

.features-icon-wrapper {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 22px;
}

.features-icon {
  width: 40px;
  height: 40px;
  fill: transparent;
  stroke: var(--orange);
}


.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  margin-bottom: 18px;
}

.features-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* --------------------TASTE--------------------------- */

.taste {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  max-width: 411px;
  margin: 100px auto 28px auto;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  background-color: #fff;
  padding: 27px 31px;
  width: calc((100% - 57px) / 4);
}

.taste-item:hover .taste-item-text {
  transform: translateY(0);
}

.taste-item-text {
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
  background-color: #fd9222;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.taste-img-wrapper {
  position: relative;
  overflow: hidden;
}

.taste-list {
  gap: 18px;
  display: flex;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
  max-width: 486px;
  margin: 0 auto 50px;
}

.taste-img {
  display: block;
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black);
}
/* ---------- MADE ---- */

.made {
  padding-top: 100px;
  padding-bottom: 50px;
}

.made-wrapper {
display: flex;
gap: 20px;
}

.made-content {
border-radius: 15px;
background-color: #fff;
padding: 32px;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-top: 100px;
  margin: 0 auto 50px;
  max-width: 250px;
}

.made-img {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black);
  margin-bottom: 28px;

}

.made-item {
  margin-bottom: 24px;
  padding-left: 16px;
  position: relative;
}

.made-item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}

.made-item :last-child {
  margin-bottom: 0px;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--black);
}
/* ---------REVIEW--------- */

.review {
  padding-top: 50px;
  padding-bottom: 100px;

}

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-top: 100px;

  margin-bottom: 90px;
}

.review-list {
display: flex;
gap: 28px;
margin-bottom: 50px;
}

.review-item {
  width: calc((100%-56px)/3);
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.5);
  background: #fff;
  position: relative;
  padding: 56px 24px 24px 24px;
}

.review-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--black);
  margin-bottom: 24px;
}

.review-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  font-weight: 600;
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 100px;
  margin-top: 50px;
  border: 1px solid var(--orange);
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* -----FOOTER---------- */
.footer {
  background-color: var(--violet);
  min-width: 1200px;
  height: 298px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 32px;
}

.footer-top {
  margin-bottom: 24px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--white);
  max-width: 300px;
}

.footer-menu-list {
display: flex;
gap: 24px;
}


.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white);
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--white);
  margin-bottom: 14px;

}

.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-input {
  width: 313px;
  height: 52px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  padding-left: 13px;
  padding-right: 13px;
  color: #fff;
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-form-btn {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 14px;
border-radius: 100px;
padding-block: 17px;
padding-inline: 40px;
width: 137px;
height: 52px;
background: var(--orange);
margin-right: 32px;
}

.footer-contacts {
  font-style: normal;

}
.footer-contacts-list:not(:last-child) {
  display: flex; 
  margin-bottom: 4px;
}

.footer-contacts-item {
  margin-right: 28px;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
    margin-right: 26px;
}

/* -----------MODAL----------------------------- */

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.25s ease-in-out;
}

.modal {
  border-radius: 15px;
  width: 517px;
  min-height: 794px; /* 794 */
  padding: 40px;
  background-color: #fafafa;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.modal-close {
  width: 28px;
  height: 28px;
  border: 2px solid #111;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 26px;
  right: 26px;
}

.modal-title {
  text-align: left;
  max-width: 300px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--black);
  margin-bottom: 8px;
}

.modal-input {
  border: 1px solid #111;
  border-radius: 15px;
  width: 100%;
  height: 68px;
  padding: 20px;
  background: transparent;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 0;
  box-sizing: border-box;
  padding-left: 62px;
  padding-right: 24px;
  outline: transparent;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus {
  outline: 2px solid var(--orange);
  border-color: var(--orange);
}

.modal-input:focus + .modal-input-icon {
  stroke: var(--orange);
}

.modal-input::placeholder {
  color: rgba(17, 17, 17, 0.7);
  font-size: 14px;
}

.modal-close:hover,
.modal-close:focus {
  border-color: var(--orange);
  color: var(--orange);
}

.modal-text-area {
  height: 137px;
  width: 100%;

  border: 1px solid #111;
  border-radius: 15px;
  width: 100%;
  height: 132px;
  padding: 8px 16px;
  background: transparent;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 0;
  box-sizing: border-box;
  outline: transparent;
  resize: none;
}

.modal-privacy-link {
  color: var(--orange);
  text-decoration: underline;
  margin-bottom: 40px;
  margin-left: 40px;
}

.text-privacy {
  .text-privacy {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.modal-button {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  border: 1px solid var(--orange);
  border-radius: 100px;
  padding-block: 14px;
  padding-inline: 40px;
  width: 146px;
  height: 46px;
  background: var(--orange);
  margin-top: 40px;
}

.modal-chek:checked + .modal-chek-label span {
  background-color: var(--orange);
  border-color: var(--orange);
  fill: #fff;
}

.modal-check-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.7);
  display: flex;
  align-items: center;

  a {
    color: #fd9222;
    text-decoration: underline;
  }
}

.modal-check-label span {
  width: 10px;
  height: 10px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

/*
span {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.7);
  border-radius: 12px;
  margin-right: 12px;
}
*/

.modal-cheked {
  background-color: var(--orange);
  border-color: var(--orange);
}
